@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  padding: 0;
  margin: 0;
  /* font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif; */
  font-family: "Manrope", sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
main {
  /* Created with https://www.css-gradient.com */
  /* background: #fc374d00;
  background: -webkit-linear-gradient(top right, #fc374d00, #5451e94d);
  background: -moz-linear-gradient(top right, #fc374d00, #5451e94d);
  background: linear-gradient(to bottom left, #fc374d00, #5451e94d); */
}
